In [1]:
import pandas as pd
import numpy as np

In [26]:
PATH_SUEZ = 'D:\\Run Analysis\\BLOB_STORAGE\\tipping_weekly\\og_tipping_suez\\weekly\\18th_2021.csv' 
PATH_ROS = 'D:\\Run Analysis\\BLOB_STORAGE\\Roster\\weekly_roster_processed\\18th_2021.xlsx' 
PATH_WE = 'D:\\Run Analysis\\BLOB_STORAGE\\tipping_weekly\\waste_edge_tipping\\18th_2021.csv'
df_suez = pd.read_csv(PATH_SUEZ)
df_ros = pd.read_excel(PATH_ROS)
df_we = pd.read_csv(PATH_WE)

GENERAL_WASTE = ['HOOK1', 'BR1', 'BR2', 'BR3', 'FL2', 'FLG', 'RL1', 'RL2', 'RL4', 'RL7', 'RL9', 'RLD', 'RLE', 'RLH', 'RLI', 'RLJ', 'RLK', 'SWG']
NOTGW_RUN = ['APR', 'FLP', 'HYG', 'RED', 'RL5', 'RL6', 'RL8', 'RLP', 'RLR', 'SWP', 'HOOKCB','CBK', 'RLC', 'RLG', 'DOY','NEPCB', 'UOSCB','UOSCO','CMDCB','CUMCB']
UOS = ['UOSGW', 'CMDGW', 'CUMGW', 'NEPGW']

# Date 
df_suez.Date = pd.to_datetime(df_suez.Date, format='%d/%m/%Y')
df_we[['Route No','weekday']]= df_we['Route No'].str.split('-', 1, expand=True)
df_we['Route Date'] = pd.to_datetime(df_we['Route Date'], format='%d-%b-%Y', errors='coerce')
df_we['Disposal Date'] = pd.to_datetime(df_we['Disposal Date'], format='%d-%b-%Y', errors='coerce')
# =====================================

# Filter No Gross and Tare Weight All & Non_GW_run
df_we = df_we.loc[(df_we['Gross Weight'] > 0) & df_we['Tare Weight']]
df_gw_runs = df_we[~df_we['Route No'].isin(NOTGW_RUN)]
df_gw_runs = df_gw_runs.drop(columns=['Route Date', 'Disposal Date','Total Charge','Cost Rate','Charge Rate','UOM','Branch', 'Note','Booking No','Customer Details'])    

# Clean Dockets 
# df_gw_runs['Docket No'].
df_gw_runs['Docket No'] = df_gw_runs['Docket No'].str.replace('.0','',regex=False).str.replace(' ','')   

# Inspect Any Duplicate in Waste Edge Tipping
df_gw_runs[df_gw_runs.duplicated(subset=['Docket No'])]
# Inspect Any Duplicate in Suez Tipping
df_suez[df_suez.duplicated(subset=['Docket'])]

Empty DataFrame
Columns: [Date, 1st Weigh, Docket, Rego, Net (t), Price per unit, total_price]
Index: []

In [33]:
# In Suez Not in Waste Edge  ['Net (t)'].sum()


waste_edge_dockets = df_gw_runs['Docket No']
suez_dockets = df_suez.Docket

# df_suez[~df_suez.Docket.isin(waste_edge_dockets)]

# Only BR1 is tipping next week 
# In Waste Edge Not in Suez
we_to_suez_diff = np.setdiff1d(waste_edge_dockets,suez_dockets)


df_gw_runs[df_gw_runs['Docket No'].isin(we_to_suez_diff)]

,Sequence No,Route No,Truck No,Tip Site,Tip In Time,Tip Out Time,Total Cost,Waste Type,Weight,Docket No,Gross Weight,Tare Weight,weekday
239,239611103,RL9,BL82AG,Suez - Artarmon,NaN,23:48:35,2.74,GW,2.74,AR110135053,10.80,8.06,3
742,242325798,RLJ,XN10HU,Suez - Auburn,NaN,8:54:26,3.44,GW,3.44,120117556,15.24,11.80,5
895,243548263,BR1,BX97ZK,Suez - Artarmon,NaN,9:21:55,6.48,GW,6.48,6181,21.26,14.78,7
897,243548268,RL9,BY46TO,Suez - Artarmon,NaN,10:16:36,4.42,GW,4.42,AU110136267,12.40,7.98,7
1104,244506982,RLI,XN13KR,Suez - Auburn,NaN,13:24:10,2.86,GW,2.86,120118318,17.12,14.26,1
1113,244301336,RLI,XN13KR,Suez - Rockdale,NaN,12:21:01,12.04,GW,12.04,200097142,26.36,14.32,1
1343,245021234,BR1,XN75OS,Suez - Auburn,NaN,10:04:19,6.68,GW,6.68,120118575,21.56,14.88,2
1354,239149611,BR2,CJ65PS,Suez - Artarmon,NaN,0:47:22,7.38,GW,7.38,AR110137165,22.10,14.72,2

In [29]:
# In Suez Not in Waste
= np.setdiff1d(suez_dockets,waste_edge_dockets)

array(['AR110135063', 'AR110135101', 'AR110135726', 'AR110136260',
       'AR110136267', 'AR110136340', 'AR110137146', 'AU120117478',
       'AU120117556', 'AU120118211', 'AU120118318', 'AU120118575',
       'DR150061850', 'DR150062301', 'RK200097142'], dtype=object)