In [3]:
import pandas as pd
import numpy as np

In [20]:
PATH_ROSTER = 'D:\\Run Analysis\\BLOB_STORAGE\\Roster\\weekly_roster_processed\\17th_2021.xlsx'
PATH_SALARY = 'D:\\Run Analysis\\BLOB_STORAGE\\Drivers_pay\\paysheet_28.04-04.05.2021_17th_2021.xlsx'
df_ros = pd.read_excel(PATH_ROSTER)
df_sal = pd.read_excel(PATH_SALARY)

In [36]:
df_ros.head()
df_sal.head()

      EmpID  Cash_payment   Super  Total_payment
0  swaklado       1906.87  128.02        2034.89
1  swbaichr       2264.88  153.95        2418.83
2  swbranat       1574.20   77.11        1651.31
3  swburlei       1444.19   96.39        1540.58
4  swdinvie       2398.37  117.88        2516.25

In [22]:
df_sal = df_sal.drop(columns='work_hours')

In [23]:
df_sal['EmpID'] = df_sal.EmpID.str.lower()

In [30]:
occurrence = df_ros.groupby(['Primary_employeeID','Primary_route'])['Run_type'].count().reset_index()
total = df_ros.groupby(['Primary_employeeID'])['Primary_route'].count().reset_index()

In [34]:
df_combine = pd.merge(occurrence, total, how='left' , on='Primary_employeeID')
df_combine['portion']= df_combine.pipe(lambda data : data['Run_type'] / data['Primary_route_y'])
df_combine = df_combine.drop(columns=['Run_type', 'Primary_route_y'])

In [41]:
df_combine_ros_sal = pd.merge(df_combine, df_sal, how='left', left_on='Primary_employeeID', right_on='EmpID')
df_combine_ros_sal['route_sal_portion'] = df_combine_ros_sal.pipe(lambda data : data['portion'] * data['Total_payment'])

In [45]:
df_combine_ros_sal = df_combine_ros_sal.drop(columns=['EmpID', 'Cash_payment', 'Super', 'Total_payment'])

KeyError: "['EmpID' 'Cash_payment' 'Super' 'Total_payment'] not found in axis"

In [46]:
df_combine_ros_sal

   Primary_employeeID Primary_route_x   portion  route_sal_portion
0                ir12             RLJ  1.000000        1558.430000
1                ir20             RL2  0.166667         410.015000
2                ir20             RL9  0.833333        2050.075000
3              irdeaz             RL7  1.000000        1972.730000
4             subcon1             RED  0.166667                NaN
5             subcon1             RL9  0.166667                NaN
6             subcon1             RLC  0.666667                NaN
7            swaklado             RLE  1.000000        2034.890000
8            swbaichr             BR1  0.666667        1612.553333
9            swbaichr             RLK  0.333333         806.276667
10           swbranat             RL2  0.600000         990.786000
11           swbranat             UNI  0.200000         330.262000
12           swbranat      UOS CAMDEN  0.200000         330.262000
13           swburlei             RLH  1.000000        1540.580000
14           swdinvie             RED  0.400000        1006.500000
15           swdinvie             RLJ  0.100000         251.625000
16           swdinvie             RLR  0.500000        1258.125000
17           swedwben             SWG  1.000000        1858.790000
18           swfiejih             RL6  1.000000        1735.090000
19           swhearay             RLK  1.000000        1523.120000
20             swhewg             HYG  1.000000        1635.970000
21           swizzcra             UOS  0.333333                NaN
22           swizzcra          UOS CB  0.333333                NaN
23           swizzcra         UOS COM  0.333333                NaN
24           swjusjoh          NIWPR2  1.000000        1823.950000
25             swkuma             RL9  1.000000         464.050000
26              swlip             RLI  1.000000        1958.910000
27             swliqi          NIWPR1  1.000000        1103.580000
28           swlocbra             FLG  0.250000         580.770000
29           swlocbra             RL2  0.500000        1161.540000
30           swlocbra             RLI  0.250000         580.770000
31           swmittai             BR3  1.000000        1962.330000
32           swmoylou             RL5  1.000000        1681.720000
33            swnevpj             BR1  0.166667         471.001667
34            swnevpj             BR2  0.833333        2355.008333
35            swrigda             FLG  0.666667        1843.513333
36            swrigda            HOOK  0.166667         460.878333
37            swrigda             RLK  0.166667         460.878333
38           swrobgar             BR3  0.071429         149.010714
39           swrobgar            CAMP  0.071429         149.010714
40           swrobgar             CMD  0.071429         149.010714
41           swrobgar             RL1  0.428571         894.064286
42           swrobgar             RLG  0.071429         149.010714
43           swrobgar             UOS  0.142857         298.021429
44           swrobgar          UOS GW  0.142857         298.021429
45           swshekev             RL8  1.000000        2353.320000
46           swsinvic             RLD  1.000000        2304.390000
47           swtaujul             FL2  1.000000        2272.340000
48           swtubjoh             DOY  1.000000        1676.440000
49           swtupfek             RL4  1.000000        2505.750000
50           swwhinei             RLP  1.000000        1675.670000

In [54]:
sal_IDs = df_sal.EmpID.values

In [53]:
ros_ID = df_combine.Primary_employeeID.values

In [56]:
np.setdiff1d(sal_IDs,ros_ID)
# array([sal_IDs, ros_ID])

array(['ir02', 'swhopdam', 'swmedd', 'swrobg', 'swwarrob'], dtype=object)

In [ ]:
14th_2021_roster
df_roster
df_sal_emp['Total hours'].sum()
df_sal_emp.head()
df_1.hours_per_run.sum()
# df_sal_emp.loc[df_sal_emp['EmployeeID_sal'] != df_sal_emp['EmployeeID_emp']]
nothing = ['ALLMED','AUSSKIP','BIN','BR1',
'BR2','BR3','CBK','CKG','CLN','CMDCB',
'CMDGW','CUMCB','CUMGW','DOY','FL2',
'FLG','FLP','GRACE','GRIMA','HOOK1',
'HYG','JJR','JJT','NEPCB','NEPGW',
'OWE','RED','REM','REP','REQ',
'RL1','RL2','RL4','RL5','RL6',
'RL7','RL8','RL9','RLC','RLD',
'RLE','RLG','RLH','RLI','RLJ',
'RLK','RLP','RLR','RRNW','RRR',
'SHR','SPD','SUB','SUE','SWG',
'UOSCB','UOSCO','UOSGW',
'URM','VEO','VEOACT','VTG']

[str(elem) for elem in nothing]
df_sal_emp.EmployeeID_emp.values

df_roster[~df_roster['Primary_employeeID'].isin(df_sal_emp.EmployeeID_emp.values)]
df_merge = pd.merge(df_roster, df_sal_emp,how='left', left_on='Primary_employeeID', right_on='EmployeeID_emp')
df_merge.groupby('Primary_employeeID')['Primary_route'].count()
# swdoalb     
df_merge[df_merge['Primary_employeeID'] == 'swdinvie'].Date.unique()
# df_ros.info()
# series_1 = df_sal_ros.groupby(['Primary_employeeID', 'Total_hour'])['Run_type'].count().reset_index()

# df_sal_ros
# df_1.groupby/('Primary_employeeID')['Total_hour'].count()

# df_sal = pd.read_csv(PATH_SALARY)
# df_empID = pd.read_csv(PATH_EMPLOYEEID)
# df_roster = pd.read_excel(PATH_ROSTER)

# df_sal = df_sal[['EmployeeID_sal','Employee Name','firstname','lastname','Total hours']]
# df_sal = df_sal.rename(columns={'EmployeeID_sal' : 'EmployeeID'})
# df_sal_emp = pd.merge(df_sal, df_empID, how='left', on=['firstname', 'lastname'], suffixes=("_sal", "_emp"))
# df_sal_emp = df_sal_emp[['EmployeeID_emp', 'Employee Name', 'firstname', 'lastname', 'Total hours']]


df_sal = pd.read_csv(PATH_SALARY)
df_ros = pd.read_excel(PATH_ROSTER)
df_ros.groupby('Primary_employeeID')['Primary_driver_Name'].count()

# how='left'
df_sal_ros = pd.merge(df_ros, df_sal , left_on='Primary_employeeID',right_on='EmployeeID_y')

df_sal_ros[[
    'Date',
    'Run_type',
    'Primary_employeeID',
    'Secondary_employeeID',
    'Primary_driver_Name',
    'Secondary_Driver_Name',
    'Primary_route',
    'Satellite_Route_1',
    'Satellite_Route_2',
    'Primary_truck',
    'Alternative_Truck',
    'Subcontracted_From/Special_Client',
    'Total_hour'
]]

occurence_per_runs_ = (df_sal_ros
 .groupby(['Primary_employeeID', 'Primary_route','Total_hour'])['Run_type']
 .count()
 .reset_index())
# 56,887.79 
total_runs = df_sal_ros.groupby('Primary_employeeID')['Run_type'].count().reset_index()

df_1 = pd.merge(occurence_per_runs_, total_runs, on='Primary_employeeID', how='left')

df_ab= df_1.drop_duplicates(subset='Primary_employeeID',keep='first')
t_hours = df_ab.Total_hour.sum()

avg_rate = 56887.79 / t_hours

# df_1.transform(lambda df : df['Total_hour'] * (df['Run_type_x']/df['Run_type_y']) )
# df_1.apply(lambda df : df['Total_hour'] * (df['Run_type_x']/df['Run_type_y']))


df_1['hours_per_run'] = df_1.pipe(lambda df :df['Total_hour'] * (df['Run_type_x']/df['Run_type_y']) )
df_1.pipe(lambda df :df['Total_hour'] * (df['Run_type_x']/df['Run_type_y']) )

df_1['driver_salary_per_run'] = df_1.pipe(lambda df :df['hours_per_run'] * avg_rate  )
df_1.sort_values('Primary_route')

nothing = ['ALLMED','AUSSKIP','BIN','BR1',
'BR2','BR3','CBK','CKG','CLN','CMDCB',
'CMDGW','CUMCB','CUMGW','DOY','FL2',
'FLG','FLP','GRACE','GRIMA','HOOK1',
'HYG','JJR','JJT','NEPCB','NEPGW',
'OWE','RED','REM','REP','REQ',
'RL1','RL2','RL4','RL5','RL6',
'RL7','RL8','RL9','RLC','RLD',
'RLE','RLG','RLH','RLI','RLJ',
'RLK','RLP','RLR','RRNW','RRR',
'SHR','SPD','SUB','SUE','SWG',
'UOSCB','UOSCO','UOSGW',
'URM','VEO','VEOACT','VTG']
df_1[~df_1.Primary_route.isin(nothing)]

# df_1.Primary_route
# Primary_route.str.contains()

# CAMP

# HOOK => HOOK1

# UOS

# UOS CAMDEN

# UOS CB

df_1['hours_per_run'] = df_1['Run_type_x'] / df_1['Run_type_y'] * df_1['Total_hour']

# .apply(lambda df : df['Run_type_x'] / df['Run_type_y'] * df['Total_hour'])