In [1]:
import pandas as pd
import numpy as np

In [62]:
PATH_SUEZ = 'D:\\Run Analysis\\BLOB_STORAGE\\tipping_weekly\\og_tipping_suez\\weekly\\18th_2021.csv' 

PATH_ROS = 'D:\\Run Analysis\\BLOB_STORAGE\\Roster\\weekly_roster_processed\\18th_2021.xlsx' 

PATH_WE = 'D:\\Run Analysis\\BLOB_STORAGE\\tipping_weekly\\waste_edge_tipping\\18th_2021.csv'
df_suez = pd.read_csv(PATH_SUEZ)
df_ros = pd.read_excel(PATH_ROS)
df_we = pd.read_csv(PATH_WE)

GENERAL_WASTE = ['HOOK1', 'BR1', 'BR2', 'BR3', 'FL2', 'FLG', 'RL1', 'RL2', 'RL4', 'RL7', 'RL9', 'RLD', 'RLE', 'RLH', 'RLI', 'RLJ', 'RLK', 'SWG']
NOTGW_RUN = ['APR', 'FLP', 'HYG', 'RED', 'RL5', 'RL6', 'RL8', 'RLP', 'RLR', 'SWP', 'HOOKCB','CBK', 'RLC', 'RLG', 'DOY','NEPCB', 'UOSCB','UOSCO','CMDCB','CUMCB']
UOS = ['UOSGW', 'CMDGW', 'CUMGW', 'NEPGW']

# Date 
df_suez.Date = pd.to_datetime(df_suez.Date, format='%d/%m/%Y',errors='ignore')
df_we[['Route No','weekday']]= df_we['Route No'].str.split('-', 1, expand=True)

df_we['Route Date'] = pd.to_datetime(df_we['Route Date'], format='%d-%b-%y', errors='ignore')
df_we['Disposal Date'] = pd.to_datetime(df_we['Disposal Date'], format='%d-%b-%y', errors='ignore')
# =====================================

# Filter No Gross and Tare Weight All & Non_GW_run
df_we = df_we.loc[(df_we['Gross Weight'] > 0) & df_we['Tare Weight']]
df_gw_runs = df_we[~df_we['Route No'].isin(NOTGW_RUN)]
df_gw_runs = df_gw_runs.drop(columns=['Disposal Date','Total Charge','Cost Rate','Charge Rate','UOM','Branch', 'Note','Booking No','Customer Details'])    

# Clean Dockets
# df_gw_runs['Docket No'].
df_gw_runs['Docket No'] = df_gw_runs['Docket No'].str.replace('.0','',regex=False).str.replace(' ','')   

# clean roster
df_ros.Primary_truck = df_ros.Primary_truck.str.replace(' ','')

# Inspect Any Duplicate in Waste Edge Tipping
df_gw_runs[df_gw_runs.duplicated(subset=['Docket No'])]
# Inspect Any Duplicate in Suez Tipping
df_suez[df_suez.duplicated(subset=['Docket'])]

df_we

,Sequence No,Booking No,Customer Details,Route No,Truck No,Route Date,Disposal Date,Tip Site,Tip In Time,Tip Out Time,...,Total Charge,Waste Type,Weight,UOM,Docket No,Gross Weight,Tare Weight,Branch,Note,weekday
221,240314081,0.0,NaN,RL5,CF71JM,2021-05-05,5-May-21,POLYTRADE,NaN,10:30:40,...,0.0,PC,1.92,TONNES,237191,15.36,13.44,NaN,NaN,3
222,240315098,0.0,NaN,RLP,CH32FV,2021-05-05,5-May-21,POLYTRADE,NaN,11:26:54,...,0.0,PC,1.90,TONNES,237193,12.38,10.48,NaN,NaN,3
223,240316253,0.0,NaN,RL6,XN62UD,2021-05-05,5-May-21,POLYTRADE,NaN,12:40:55,...,0.0,PC,1.50,TONNES,237201,11.84,10.34,NaN,NaN,3
224,240314915,0.0,NaN,DOY,XN65IJ,2021-05-05,5-May-21,Visy Recycling,NaN,11:16:29,...,0.0,CO,0.90,TONNES,242230,8.88,7.98,NaN,NaN,3
225,240778261,0.0,NaN,RLC,XN97FC,2021-05-05,6-May-21,Visy Recycling,NaN,0:01:21,...,0.0,CO,4.18,TONNES,242314,14.84,10.66,NaN,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1360,245454047,0.0,NaN,BR3,XN06OJ,2021-05-11,11-May-21,Suez - Wetherill Park,NaN,12:13:13,...,0.0,GW,4.60,TONNES,DR150062313,19.56,14.96,NaN,NaN,2
1361,245454052,0.0,NaN,RLD,CL02TB,2021-05-11,11-May-21,Suez - Wetherill Park,NaN,12:14:18,...,0.0,GW,4.44,TONNES,DR150062319,17.60,13.16,NaN,NaN,2
1362,245454362,0.0,NaN,RLH,XN19IN,2021-05-11,11-May-21,Suez - Wetherill Park,NaN,12:54:33,...,0.0,GW,2.54,TONNES,DR150062341,10.42,7.88,NaN,NaN,2
1363,245456519,0.0,NaN,SWG,XN72MK,2021-05-11,11-May-21,Suez - Wetherill Park,1:56,2:04,...,0.0,GW,2.08,TONNES,DR150062363.0,10.16,8.08,NaN,NaN,2
1364,245019174,0.0,NaN,SWG,XN72MK,2021-05-11,11-May-21,Suez - Seven Hills,NaN,6:57:02,...,0.0,GW,3.60,TONNES,SH 230159940,16.36,12.76,NaN,NaN,2

In [57]:
# In Suez Not in Waste Edge  ['Net (t)'].sum()
waste_edge_dockets = df_gw_runs['Docket No']
suez_dockets = df_suez.Docket

# df_suez[~df_suez.Docket.isin(waste_edge_dockets)]

# Only BR1 is tipping next week 
# In Waste Edge Not in Suez
we_to_suez_diff = np.setdiff1d(waste_edge_dockets,suez_dockets)

df_gw_1 = df_gw_runs[df_gw_runs['Docket No'].isin(we_to_suez_diff)]

existed_1 = ['120117556', '6181', 'AU110136267', '120118318', '200097142', '120118575']

COMPLETE_PATH = 'D:\\Run Analysis\\BLOB_STORAGE\\tipping_weekly\\tipping_rec\\18th_2021_we_suez.csv'

df_gw_1[~df_gw_1['Docket No'].isin(existed_1)].to_csv(COMPLETE_PATH)

In [60]:
# In Suez Not in Waste
suez_to_we_diff = np.setdiff1d(suez_dockets,waste_edge_dockets)
df_suez_1  = df_suez[df_suez.Docket.isin(suez_to_we_diff)]
exist_dockets = ['AU120117556', 'AR110136260', 'AR110136267', 'AU120118318', 'RK200097142', 'AU120118575']

COMPLETE_PATH = 'D:\\Run Analysis\\BLOB_STORAGE\\tipping_weekly\\tipping_rec\\18th_2021_suez_we.csv'

df_suez_1[~df_suez_1.Docket.isin(exist_dockets)]
# .to_csv(COMPLETE_PATH)
# ['Net (t)'].sum()

,Date,1st Weigh,Docket,Rego,Net (t),Price per unit,total_price
0,2021-05-05,5/05/2021 1:23,AR110135063,CJ65PS,7.46,265,1976.90000
1,2021-05-05,5/05/2021 5:01,AR110135101,XN70RC,3.06,265,810.89996
57,2021-05-07,7/05/2021 3:27,AU120117478,XN80YD,4.02,265,1065.30000
64,2021-05-07,7/05/2021 5:13,AR110135726,XN04IJ,1.24,265,328.60000
82,2021-05-08,8/05/2021 8:11,DR150061850,CG06UT,5.76,265,1526.40000
93,2021-05-09,9/05/2021 12:54,AR110136340,CL02TB,9.16,265,2427.40000
98,2021-05-10,10/05/2021 8:41,AU120118211,XN75OS,0.00,0,0.00000
121,2021-05-11,11/05/2021 11:19,DR150062301,XN81VB,7.74,265,2051.09990
140,2021-05-11,11/05/2021 22:48,AR110137146,BL82AG,2.56,265,678.39996

In [72]:
df_ros[df_ros.Primary_truck.eq('BL82AG')].sort_values('Date')

,Date,Run_type,Primary_employeeID,Secondary_employeeID,Primary_driver_Name,Secondary_Driver_Name,Primary_route,Satellite_Route_1,Satellite_Route_2,Primary_truck,Alternative_Truck,Subcontracted_From/Special_Client
33,2021-05-05,DAY RUNS,swizzcra,NaN,CRAIG IZZARD,NaN,UOS,CMD,NaN,BL82AG,NaN,UNIVERSITY
146,2021-05-05,DAY RUNS,ir20,NaN,TOM TE TURE,NaN,RL9,NaN,NaN,BL82AG,NaN,NaN
102,2021-05-06,DAY RUNS,swbranat,NaN,NATHAN BRACEY,NaN,UOS,NaN,NaN,BL82AG,NaN,UNIVERSITY
148,2021-05-06,DAY RUNS,ir20,NaN,TOM TE TURE,NaN,RL9,NaN,NaN,BL82AG,NaN,NaN
55,2021-05-07,DAY RUNS,swrobg,NaN,GREG ROBERTS,NaN,CAMDEN,BLUE,NaN,BL82AG,NaN,UNIVERSITY
149,2021-05-07,DAY RUNS,ir20,NaN,TOM TE TURE,NaN,RL9,NaN,NaN,BL82AG,NaN,NaN
147,2021-05-08,DAY RUNS,ir20,NaN,TOM TE TURE,NaN,RL9,NaN,NaN,BL82AG,NaN,NaN
6,2021-05-09,NIGHT RUNS,subcon1,NaN,ALAN WALDEN,NaN,RL9,NaN,NaN,BL82AG,NaN,NaN
101,2021-05-10,DAY RUNS,swbranat,NaN,NATHAN BRACEY,NaN,UOSCB,NaN,NaN,BL82AG,NaN,UNIVERSITY
104,2021-05-11,DAY RUNS,swbranat,NaN,NATHAN BRACEY,NaN,UOS,CMD,NaN,BL82AG,NaN,UNIVERSITY
150,2021-05-11,DAY RUNS,ir20,NaN,TOM TE TURE,NaN,RL9,NaN,NaN,BL82AG,NaN,NaN

In [77]:
PATH_SUEZ = 'D:\\Run Analysis\\BLOB_STORAGE\\tipping_weekly\\og_tipping_suez\\weekly\\19th_2021.csv' 
df_we = pd.read_csv(PATH_SUEZ)
df_we['Net (t)'].sum()

576.1200000000001

,Sequence No,Booking No,Customer Details,Route No,Truck No,Route Date,Disposal Date,Tip Site,Tip In Time,Tip Out Time,...,Total Cost,Charge Rate,Total Charge,Waste Type,Weight,UOM,Docket No,Gross Weight,Tare Weight,Branch
0,243782539,2748684.0,2494.005 - Accord Property Services,RRR-3,RRR,12-May-2021,12-May-2021,NaN,NaN,NaN,...,0.00,0.0,0.0,CB,90.00,TONNES,NaN,0.00,0.00,NaN
1,244838991,2749185.0,4576 - Littles Dry Cleaning,FL2-3,XN52IJ,12-May-2021,12-May-2021,NaN,NaN,NaN,...,0.00,0.0,0.0,GW,70.00,KG,NaN,0.00,0.00,Sydney Waste
2,244838992,2749186.0,2900.05 - Visy - IKEA Empu,FL2-3,XN52IJ,12-May-2021,12-May-2021,NaN,NaN,NaN,...,0.00,0.0,0.0,GW,50.00,TONNES,NaN,0.00,0.00,ISSE Recycling
3,244838996,2749188.0,4367 - The Owners of Strata Plan 77864,FL2-3,XN52IJ,12-May-2021,12-May-2021,NaN,NaN,NaN,...,0.00,0.0,0.0,GW,40.00,TONNES,NaN,0.00,0.00,Sydney Waste
4,244838997,2749189.0,3535 - Naremburn Pizzeria,FL2-3,XN52IJ,12-May-2021,12-May-2021,NaN,NaN,NaN,...,0.00,0.0,0.0,GW,110.00,KG,NaN,0.00,0.00,Sydney Waste
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1128,251597828,0.0,NaN,BR3-2,XN06OJ,18-May-2021,18-May-2021,Suez - Wetherill Park,NaN,12:01:11,...,3.90,1.0,0.0,GW,3.90,TONNES,DR150063612,18.78,14.88,NaN
1129,251598360,0.0,NaN,RLH-2,XN19IN,18-May-2021,18-May-2021,Suez - Wetherill Park,NaN,13:11:16,...,2.74,1.0,0.0,GW,2.74,TONNES,DR150063645,10.66,7.92,NaN
1130,251599895,0.0,NaN,SWG-2,XN72MK,18-May-2021,18-May-2021,Suez - Wetherill Park,12:57,1:07,...,1.66,0.0,0.0,GW,1.66,TONNES,DR150063650.0,9.72,8.06,NaN
1131,251170633,0.0,NaN,SWG-2,XN72MK,18-May-2021,18-May-2021,Suez - Seven Hills,NaN,06:17:01,...,3.26,1.0,0.0,GW,3.26,TONNES,SH 230162636,16.00,12.74,NaN
1132,251597024,0.0,NaN,FL2-2,XN52IJ,18-May-2021,18-May-2021,Suez - Seven Hills,NaN,10:52:12,...,2.16,1.0,0.0,GW,2.16,TONNES,SH230162736.0,15.60,13.44,NaN