In [10]:
import pandas as pd
import numpy as np

In [11]:
PATH_ROSTER = 'D:\\Run Analysis\\BLOB_STORAGE\\Roster\\weekly_roster_processed\\17th_2021_.xlsx'
# PATH_SALARY = 'D:\\Run Analysis\\BLOB_STORAGE\\Drivers_pay\\paysheet_28.04-04.05.2021_17th_2021.xlsx'
PATH_SALARY = 'D:\\Run Analysis\\BLOB_STORAGE\\Driver_weekly_timesheet\\to_process_timesheet\\17th_2021_time.xlsx'
df_ros = pd.read_excel(PATH_ROSTER)
df_sal = pd.read_excel(PATH_SALARY)

In [39]:
df_ros.head()
df_sal.head()

      EmpID  Cash_payment   Super  Total_payment                        Name
0  swaklado       1906.87  128.02        2034.89                 Akl, Adonis
1  swbaichr       2264.88  153.95        2418.83  Bailey, Christopher Andrew
2  swbranat       1574.20   77.11        1651.31         Bracey, Nathan John
3  swburlei       1444.19   96.39        1540.58        Burgess, Leigh Scott
4  swdinvie       2398.37  117.88        2516.25       Dinh, Viet Hong Phuoc

In [22]:
# df_sal = df_sal.drop(columns='work_hours')

In [12]:
df_sal['EmpID'] = df_sal.EmpID.str.lower()

In [138]:
occurrence = df_ros.groupby(['Primary_employeeID','Primary_route'])['Run_type'].count().reset_index()
total = df_ros.groupby(['Primary_employeeID'])['Primary_route'].count().reset_index()

In [169]:
# pd.pivot_table(occurrence, 
#                values='Run_type',  
#                index=['Primary_route'], 
#                columns=['Primary_employeeID'], 
#                aggfunc=np.sum)
df_a = pd.crosstab(df_ros.Primary_route, df_ros.Primary_employeeID, margins=True, margins_name="Total")
# df_a.groupby(['Primary_route', 'Primary_employeeID'])['Primary_employeeID'].count()
# .unstack().reset_index()
# .iloc[: ,'Total']

df_a = df_a.reset_index()

# df_a.iloc[:,-1]
# df_a.iloc[:,2]

df_b = df_a.iloc[:,2 :-2]
df_b = df_b.div(df_a['Total'], axis=0)
df_b['routes_name'] = df_a.iloc[:, 0]

# df_b.loc[df_b[0] > 0]

# df_b.loc[df_b.Primary_employeeID == 'Total']
# df_b
# df_b.pivot(index='Primary_employeeID', columns='Primary_route', values=0)


# ['portion'] = df_a['Primary_route'] / df_a['Primary_employeeID']
# df_ros
# df_ros.groupby(['Primary_employeeID','Primary_route'])['Run_type'].count()
# Primary_route
# Primary_employeeID

In [170]:
df_b

Primary_employeeID,ir20,irdeaz,subcon1,swaklado,swbaichr,swbranat,swburlei,swdinvie,swedwben,swfiejih,...,swrigda,swrobg,swrobgar,swshekev,swsinvic,swtaujul,swtubjoh,swtupfek,swwarrob,routes_name
0,0.000000,0.000000,0.000000,0.000000,0.833333,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,BR1
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,BR2
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,BR3
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,CMD
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,DOY
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,FL2
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,FLG
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,HOOK
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,HYG
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NIWPR1
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NIWPR2
11,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.800000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,RED
12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,RL1
13,0.200000,0.000000,0.000000,0.000000,0.000000,0.600000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,RL2
14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,RL4
15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,RL5
16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,RL6
17,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,RL7
18,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,RL8
19,0.833333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,RL9
20,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,RLC
21,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,RLD
22,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,RLE
23,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,RLG
24,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,RLH
25,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,RLI
26,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,RLJ
27,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,RLK
28,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,RLP
29,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,RLR
30,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,SWG
31,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,UOS
32,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,UOS CAMDEN
33,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,UOS CB
34,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,UOS COM
35,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,UOSGW
36,0.043796,0.036496,0.036496,0.036496,0.051095,0.036496,0.029197,0.043796,0.036496,0.021898,...,0.036496,0.021898,0.036496,0.036496,0.036496,0.029197,0.029197,0.036496,0.029197,Total

In [14]:
df_combine = pd.merge(occurrence, total, how='left' , on='Primary_employeeID')
df_combine['portion']= df_combine.pipe(lambda data : data['Run_type'] / data['Primary_route_y'])
df_combine = df_combine.drop(columns=['Run_type', 'Primary_route_y'])

In [15]:
df_combine_ros_sal = pd.merge(df_combine, df_sal, how='left', left_on='Primary_employeeID', right_on='EmpID')
df_combine_ros_sal['route_sal_portion'] = df_combine_ros_sal.pipe(lambda data : data['portion'] * data['Total_payment'])

In [23]:
# df_combine_ros_sal = df_combine_ros_sal.drop(columns=['EmpID', 'Cash_payment', 'Super', 'Total_payment'])
# df_combine_ros_sal.route_sal_portion.sum()

COMPLETE_PATH = 'D:\\Run Analysis\\BLOB_STORAGE\\Drivers_pay\\weekly_pay_summary\\17th_2021\\a.csv'
df_combine_ros_sal \
.drop(columns=['Name','portion','EmpID', 'Cash_payment', 'Super', 'Total_payment']).to_csv(COMPLETE_PATH, index=False)

In [33]:
# df_combine_ros_sal

In [27]:
COMPLETE_PATH = 'D:\\Run Analysis\\BLOB_STORAGE\\Drivers_pay\\weekly_pay_summary\\17th_2021\\b.csv'
df_combine_ros_sal.groupby(['Primary_route_x'])['route_sal_portion'].sum().reset_index().to_csv(COMPLETE_PATH, index=False)

In [29]:
sal_IDs = df_sal.EmpID.values

In [34]:
ros_ID = df_combine_ros_sal.Primary_employeeID.values

In [35]:
np.setdiff1d(sal_IDs,ros_ID)
# array([sal_IDs, ros_ID])

array(['ir02', 'swhopdam', 'swmedd'], dtype=object)

In [36]:
df_combine_ros_sal.sum()

Primary_employeeID    ir12ir20ir20irdeazsubcon1subcon1swakladoswbaic...
Primary_route_x       RLJRL2RL9RL7REDRLCRLEBR1RLKRL2UOSUOS CAMDENRLH...
portion                                                              32
Cash_payment                                                    81512.7
Super                                                           4291.98
Total_payment                                                   85804.7
route_sal_portion                                               56906.4
dtype: object

,Primary_employeeID,Primary_route_x,portion,EmpID,Cash_payment,Super,Total_payment,Name,route_sal_portion
0,ir12,RLJ,1.000000,ir12,1468.94,89.49,1558.43,"Boland, Luke",1558.430000
1,ir20,RL2,0.166667,ir20,2367.64,92.45,2460.09,"Te Ture, Tom",410.015000
2,ir20,RL9,0.833333,ir20,2367.64,92.45,2460.09,"Te Ture, Tom",2050.075000
3,irdeaz,RL7,1.000000,irdeaz,1871.33,101.40,1972.73,"Dean, Zaheer Attaul Islam",1972.730000
4,subcon1,RED,0.200000,NaN,NaN,NaN,NaN,NaN,NaN
5,subcon1,RLC,0.800000,NaN,NaN,NaN,NaN,NaN,NaN
6,swaklado,RLE,1.000000,swaklado,1906.87,128.02,2034.89,"Akl, Adonis",2034.890000
7,swbaichr,BR1,0.714286,swbaichr,2264.88,153.95,2418.83,"Bailey, Christopher Andrew",1727.735714
8,swbaichr,RLK,0.285714,swbaichr,2264.88,153.95,2418.83,"Bailey, Christopher Andrew",691.094286
9,swbranat,RL2,0.600000,swbranat,1574.20,77.11,1651.31,"Bracey, Nathan John",990.786000
10,swbranat,UOS,0.200000,swbranat,1574.20,77.11,1651.31,"Bracey, Nathan John",330.262000
11,swbranat,UOS CAMDEN,0.200000,swbranat,1574.20,77.11,1651.31,"Bracey, Nathan John",330.262000
12,swburlei,RLH,1.000000,swburlei,1444.19,96.39,1540.58,"Burgess, Leigh Scott",1540.580000
13,swdinvie,RED,0.666667,swdinvie,2398.37,117.88,2516.25,"Dinh, Viet Hong Phuoc",1677.500000
14,swdinvie,RLJ,0.166667,swdinvie,2398.37,117.88,2516.25,"Dinh, Viet Hong Phuoc",419.375000
15,swdinvie,RLR,0.166667,swdinvie,2398.37,117.88,2516.25,"Dinh, Viet Hong Phuoc",419.375000
16,swedwben,SWG,1.000000,swedwben,1762.40,96.39,1858.79,"Edwards, Benjamin John",1858.790000
17,swfiejih,RL6,1.000000,swfiejih,1641.07,94.02,1735.09,"Field, John Scott",1735.090000
18,swhearay,RLK,1.000000,swhearay,1435.49,87.63,1523.12,"Hearn, Ray",1523.120000
19,swhewg,HYG,1.000000,swhewg,1539.58,96.39,1635.97,"Hewitt, Gabriella",1635.970000
20,swizzcra,UOS,0.333333,NaN,NaN,NaN,NaN,NaN,NaN
21,swizzcra,UOS CB,0.333333,NaN,NaN,NaN,NaN,NaN,NaN
22,swizzcra,UOS COM,0.333333,NaN,NaN,NaN,NaN,NaN,NaN
23,swjusjoh,NIWPR2,1.000000,swjusjoh,1698.49,125.46,1823.95,"Justice, John Alexander",1823.950000
24,swkuma,RL9,1.000000,swkuma,464.05,0.00,464.05,"Kumar, Avikash",464.050000
25,swlip,RLI,1.000000,swlip,1855.74,103.17,1958.91,"Liu, Phillip",1958.910000
26,swliqi,NIWPR1,1.000000,swliqi,1009.55,94.03,1103.58,"Li, Qi (Ricky)",1103.580000
27,swlocbra,FLG,0.333333,swlocbra,2254.60,68.48,2323.08,"Locke, Brad",774.360000
28,swlocbra,RL2,0.333333,swlocbra,2254.60,68.48,2323.08,"Locke, Brad",774.360000
29,swlocbra,RLI,0.333333,swlocbra,2254.60,68.48,2323.08,"Locke, Brad",774.360000
30,swmittai,BR3,1.000000,swmittai,1836.11,126.22,1962.33,"Mitchell, Tait Brendan",1962.330000
31,swmoylou,RL5,1.000000,swmoylou,1579.31,102.41,1681.72,"Moylan, Lou",1681.720000
32,swnevpj,BR1,0.166667,swnevpj,2697.99,128.02,2826.01,"Nevin, Paul John",471.001667
33,swnevpj,BR2,0.833333,swnevpj,2697.99,128.02,2826.01,"Nevin, Paul John",2355.008333
34,swrigda,FLG,0.600000,swrigda,2624.80,140.47,2765.27,"Right, David Michael",1659.162000
35,swrigda,HOOK,0.200000,swrigda,2624.80,140.47,2765.27,"Right, David Michael",553.054000
36,swrigda,RLK,0.200000,swrigda,2624.80,140.47,2765.27,"Right, David Michael",553.054000
37,swrobg,BR3,0.333333,swrobg,464.07,0.00,464.07,"Roberts, Gregory John",154.690000
38,swrobg,CMD,0.333333,swrobg,464.07,0.00,464.07,"Roberts, Gregory John",154.690000
39,swrobg,RLG,0.333333,swrobg,464.07,0.00,464.07,"Roberts, Gregory John",154.690000
40,swrobgar,RL1,1.000000,swrobgar,1983.74,102.41,2086.15,"Roberts, Gary",2086.150000
41,swshekev,RL8,1.000000,swshekev,2200.69,152.63,2353.32,"Sheather, Keven John",2353.320000
42,swsinvic,RLD,1.000000,swsinvic,2201.98,102.41,2304.39,"Singh, Victor",2304.390000
43,swtaujul,FL2,1.000000,swtaujul,2171.91,100.43,2272.34,"Taurima, Julian Lee",2272.340000
44,swtubjoh,DOY,1.000000,swtubjoh,1557.50,118.94,1676.44,"Tubuaitua, John Hafa",1676.440000
45,swtupfek,RL4,1.000000,swtupfek,2393.48,112.27,2505.75,"Tupou, Fekefekaiatu",2505.750000
46,swwarrob,UOS,0.500000,swwarrob,1650.92,102.41,1753.33,"Ward, Robert James",876.665000
47,swwarrob,UOSGW,0.500000,swwarrob,1650.92,102.41,1753.33,"Ward, Robert James",876.665000
48,swwhinei,RLP,1.000000,swwhinei,1579.28,96.39,1675.67,"White, Neil John",1675.670000

In [ ]:
14th_2021_roster
df_roster
df_sal_emp['Total hours'].sum()
df_sal_emp.head()
df_1.hours_per_run.sum()
# df_sal_emp.loc[df_sal_emp['EmployeeID_sal'] != df_sal_emp['EmployeeID_emp']]
nothing = ['ALLMED','AUSSKIP','BIN','BR1',
'BR2','BR3','CBK','CKG','CLN','CMDCB',
'CMDGW','CUMCB','CUMGW','DOY','FL2',
'FLG','FLP','GRACE','GRIMA','HOOK1',
'HYG','JJR','JJT','NEPCB','NEPGW',
'OWE','RED','REM','REP','REQ',
'RL1','RL2','RL4','RL5','RL6',
'RL7','RL8','RL9','RLC','RLD',
'RLE','RLG','RLH','RLI','RLJ',
'RLK','RLP','RLR','RRNW','RRR',
'SHR','SPD','SUB','SUE','SWG',
'UOSCB','UOSCO','UOSGW',
'URM','VEO','VEOACT','VTG']

[str(elem) for elem in nothing]
df_sal_emp.EmployeeID_emp.values

df_roster[~df_roster['Primary_employeeID'].isin(df_sal_emp.EmployeeID_emp.values)]
df_merge = pd.merge(df_roster, df_sal_emp,how='left', left_on='Primary_employeeID', right_on='EmployeeID_emp')
df_merge.groupby('Primary_employeeID')['Primary_route'].count()
# swdoalb     
df_merge[df_merge['Primary_employeeID'] == 'swdinvie'].Date.unique()
# df_ros.info()
# series_1 = df_sal_ros.groupby(['Primary_employeeID', 'Total_hour'])['Run_type'].count().reset_index()

# df_sal_ros
# df_1.groupby/('Primary_employeeID')['Total_hour'].count()

# df_sal = pd.read_csv(PATH_SALARY)
# df_empID = pd.read_csv(PATH_EMPLOYEEID)
# df_roster = pd.read_excel(PATH_ROSTER)

# df_sal = df_sal[['EmployeeID_sal','Employee Name','firstname','lastname','Total hours']]
# df_sal = df_sal.rename(columns={'EmployeeID_sal' : 'EmployeeID'})
# df_sal_emp = pd.merge(df_sal, df_empID, how='left', on=['firstname', 'lastname'], suffixes=("_sal", "_emp"))
# df_sal_emp = df_sal_emp[['EmployeeID_emp', 'Employee Name', 'firstname', 'lastname', 'Total hours']]


df_sal = pd.read_csv(PATH_SALARY)
df_ros = pd.read_excel(PATH_ROSTER)
df_ros.groupby('Primary_employeeID')['Primary_driver_Name'].count()

# how='left'
df_sal_ros = pd.merge(df_ros, df_sal , left_on='Primary_employeeID',right_on='EmployeeID_y')

df_sal_ros[[
    'Date',
    'Run_type',
    'Primary_employeeID',
    'Secondary_employeeID',
    'Primary_driver_Name',
    'Secondary_Driver_Name',
    'Primary_route',
    'Satellite_Route_1',
    'Satellite_Route_2',
    'Primary_truck',
    'Alternative_Truck',
    'Subcontracted_From/Special_Client',
    'Total_hour'
]]

occurence_per_runs_ = (df_sal_ros
 .groupby(['Primary_employeeID', 'Primary_route','Total_hour'])['Run_type']
 .count()
 .reset_index())
# 56,887.79 
total_runs = df_sal_ros.groupby('Primary_employeeID')['Run_type'].count().reset_index()

df_1 = pd.merge(occurence_per_runs_, total_runs, on='Primary_employeeID', how='left')

df_ab= df_1.drop_duplicates(subset='Primary_employeeID',keep='first')
t_hours = df_ab.Total_hour.sum()

avg_rate = 56887.79 / t_hours

# df_1.transform(lambda df : df['Total_hour'] * (df['Run_type_x']/df['Run_type_y']) )
# df_1.apply(lambda df : df['Total_hour'] * (df['Run_type_x']/df['Run_type_y']))


df_1['hours_per_run'] = df_1.pipe(lambda df :df['Total_hour'] * (df['Run_type_x']/df['Run_type_y']) )
df_1.pipe(lambda df :df['Total_hour'] * (df['Run_type_x']/df['Run_type_y']) )

df_1['driver_salary_per_run'] = df_1.pipe(lambda df :df['hours_per_run'] * avg_rate  )
df_1.sort_values('Primary_route')

nothing = ['ALLMED','AUSSKIP','BIN','BR1',
'BR2','BR3','CBK','CKG','CLN','CMDCB',
'CMDGW','CUMCB','CUMGW','DOY','FL2',
'FLG','FLP','GRACE','GRIMA','HOOK1',
'HYG','JJR','JJT','NEPCB','NEPGW',
'OWE','RED','REM','REP','REQ',
'RL1','RL2','RL4','RL5','RL6',
'RL7','RL8','RL9','RLC','RLD',
'RLE','RLG','RLH','RLI','RLJ',
'RLK','RLP','RLR','RRNW','RRR',
'SHR','SPD','SUB','SUE','SWG',
'UOSCB','UOSCO','UOSGW',
'URM','VEO','VEOACT','VTG']
df_1[~df_1.Primary_route.isin(nothing)]

# df_1.Primary_route
# Primary_route.str.contains()

# CAMP

# HOOK => HOOK1

# UOS

# UOS CAMDEN

# UOS CB

df_1['hours_per_run'] = df_1['Run_type_x'] / df_1['Run_type_y'] * df_1['Total_hour']

# .apply(lambda df : df['Run_type_x'] / df['Run_type_y'] * df['Total_hour'])