In [2]:
import pandas as pd
import numpy as np

In [3]:
CURRENT_WEEK = '16th_2021'

PATH_SUEZ = f'D:\\Run Analysis\\BLOB_STORAGE\\tipping_weekly\\og_tipping_suez\\weekly\\{CURRENT_WEEK}.csv' 

PATH_ROS = f'D:\\Run Analysis\\BLOB_STORAGE\\Roster\\weekly_roster_processed\\{CURRENT_WEEK}.xlsx' 

PATH_WE = f'D:\\Run Analysis\\BLOB_STORAGE\\tipping_weekly\\waste_edge_tipping\\{CURRENT_WEEK}.csv'

df_suez = pd.read_csv(PATH_SUEZ)
df_ros = pd.read_excel(PATH_ROS)
df_we = pd.read_csv(PATH_WE)

GENERAL_WASTE = ['HOOK1', 'BR1', 'BR2', 'BR3', 'FL2', 'FLG', 'RL1', 'RL2', 'RL4', 'RL7', 'RL9', 'RLD', 'RLE', 'RLH', 'RLI', 'RLJ', 'RLK', 'SWG']
NOTGW_RUN = ['APR', 'FLP', 'HYG', 'RED', 'RL5', 'RL6', 'RL8', 'RLP', 'RLR', 'SWP', 'HOOKCB','CBK', 'RLC', 'RLG', 'DOY','NEPCB', 'UOSCB','UOSCO','CMDCB','CUMCB']
UOS = ['UOSGW', 'CMDGW', 'CUMGW', 'NEPGW']

# Date 
df_suez.Date = pd.to_datetime(df_suez.Date, format='%d/%m/%Y',errors='ignore')
df_we[['Route No','weekday']]= df_we['Route No'].str.split('-', 1, expand=True)

df_we['Route Date'] = pd.to_datetime(df_we['Route Date'], format='%d-%b-%y', errors='ignore')
df_we['Disposal Date'] = pd.to_datetime(df_we['Disposal Date'], format='%d-%b-%y', errors='ignore')
# =====================================

# Filter No Gross and Tare Weight All & Non_GW_run
df_we = df_we.loc[(df_we['Gross Weight'] > 0) & df_we['Tare Weight']]
df_gw_runs = df_we[~df_we['Route No'].isin(NOTGW_RUN)]
df_gw_runs = df_gw_runs.drop(columns=['Disposal Date','Total Charge','Cost Rate','Charge Rate','UOM','Branch','Booking No','Customer Details'])    

# Clean Dockets
# df_gw_runs['Docket No'].
df_gw_runs['Docket No'] = df_gw_runs['Docket No'].str.replace('.0','',regex=False).str.replace(' ','')   

# clean roster
df_ros.Primary_truck = df_ros.Primary_truck.str.replace(' ','')

# Inspect Any Duplicate in Waste Edge Tipping
df_gw_runs[df_gw_runs.duplicated(subset=['Docket No'])]
# Inspect Any Duplicate in Suez Tipping
df_suez[df_suez.duplicated(subset=['Docket'])]

Empty DataFrame
Columns: [Date, 1st Weigh, Docket, Rego, Net (t), Price per unit, total_price]
Index: []

In [6]:
df_ros[df_ros.Primary_truck.eq('BL82AG')]

,Date,Run_type,Primary_employeeID,Secondary_employeeID,Primary_driver_Name,Secondary_Driver_Name,Primary_route,Satellite_Route_1,Satellite_Route_2,Primary_truck,Alternative_Truck,Subcontracted_From/Special_Client
47,2021-04-16,DAY RUNS,swfiejih,NaN,JOHN FIELD,NaN,RL6,NaN,NaN,BL82AG,NaN,NaN
119,2021-04-16,DAY RUNS,ir20,NaN,TOM TE TURE,NaN,RL9,NaN,NaN,BL82AG,NaN,NaN
120,2021-04-17,SAT RUNS,ir20,NaN,TOM TE TURE,NaN,RL9,NaN,NaN,BL82AG,NaN,NaN
122,2021-04-20,DAY RUNS,ir20,NaN,TOM TE TURE,NaN,RL9,NaN,NaN,BL82AG,NaN,NaN
150,2021-04-14,DAY RUNS,ir20,NaN,TOM TE TURE,NaN,RL9,NaN,NaN,BL82AG,NaN,NaN
151,2021-04-15,DAY RUNS,ir20,NaN,TOM TE TURE,NaN,RL9,NaN,NaN,BL82AG,NaN,NaN