In [1]:
import pandas as pd
import numpy as np

In [2]:
# PATH = 'D:\\Run Analysis\\BLOB_STORAGE\\Roster\\weekly_roster_processed\\18th_2021_.xlsx'
# df = pd.read_excel(PATH)
# PATH = 'D:\\Run Analysis\\BLOB_STORAGE\\tipping_weekly\\waste_edge_tipping\\18th_2021.csv'
PATH = 'D:\\Run Analysis\\BLOB_STORAGE\\Visy_Contract_Report\\Apr_2021.xlsx'
PATH_ROS = 'D:\\Run Analysis\\BLOB_STORAGE\\Roster\\weekly_roster_processed\\14th_2021.xlsx'

df_ros = pd.read_excel(PATH_ROS)
df = pd.read_excel(PATH)
# df = pd.read_csv(PATH)
# df['Route No'] = df['Route No'].str.split('-', 1, expand=True)[0]
# & df.Act_Qty > 0
df_niwpr = df[(df.Route.eq('NIWPR2') | df.Route.eq('NIWPR1'))]
df_niwpr = df_niwpr[df_niwpr.Act_Qty.gt(0)]
df_niwpr.Date = pd.to_datetime(df_niwpr.Date, format='%Y%m%d')

df_14th_2021 = df_niwpr[df_niwpr.Date.between('20210407', '20210413')]

df_14th_2021['Total_Price'] = df_14th_2021.Price * df_14th_2021.Act_Qty

# df_14th_2021

<ipython-input-2-a7cd09a72c6b>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_14th_2021['Total_Price'] = df_14th_2021.Price * df_14th_2021.Act_Qty

In [8]:
# df_14th_2021

,Route,RS Number,Customer,Name,Material,Vessel,Date,Act_Qty,Price,Total_Price
446,NIWPR1,964987,79788,NSW GC6034 PUBLIC SERVICE ASSOCIATE,WPR,WBWPR240,2021-04-07,6,10.77,64.62
447,NIWPR1,964987,140511,PAGE UP PEOPLE PTY LTD,WPR,WBWPR240,2021-04-07,1,10.77,10.77
448,NIWPR1,964987,173981,HOTEL STELLAR,WPR,WBWPR240,2021-04-07,3,10.77,32.31
449,NIWPR1,964987,123126,DARLINGTON AFTERCARE ASSOCIATION IN,WPR,WBWPR240,2021-04-07,1,10.77,10.77
450,NIWPR1,964987,265061,THRIVE,WPR,WBWPR240,2021-04-07,1,10.77,10.77
...,...,...,...,...,...,...,...,...,...,...
882,NIWPR2,965466,80304,AUSTRALIAN HEARING,WPR,WBWPR240,2021-04-13,1,10.77,10.77
883,NIWPR2,965466,98224,DEPT. OF FAMILY & COMMUNITY SERVICE,WPR,WBWPR240,2021-04-13,3,10.77,32.31
884,NIWPR2,965466,62759,CENTRELINK LIVERPOOL NSWGC6034,WPR,WBWPR240,2021-04-13,4,10.77,43.08
885,NIWPR2,965466,65851,CLUB LIVERPOOL,WPR,WBWPR240,2021-04-13,2,10.77,21.54
886,NIWPR2,965466,36743,SNACK BRANDS AUSTRALIA,WPR,WBWPR240,2021-04-13,1,10.77,10.77

In [48]:
df_ros_niwpr = df_ros[df_ros.Primary_route.eq('NIWPR1') | df_ros.Primary_route.eq('NIWPR2')]
df_ros_niwpr.Primary_truck = df_ros_niwpr.Primary_truck.str.replace(' ', '')

df_ros_niwpr

C:\Users\gordon\anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,Date,Run_type,Primary_employeeID,Secondary_employeeID,Primary_driver_Name,Secondary_Driver_Name,Primary_route,Satellite_Route_1,Satellite_Route_2,Primary_truck,Alternative_Truck,Subcontracted_From/Special_Client
74,2021-04-13,DAY RUNS,swjusjoh,NaN,JOHN JUSTICE,NaN,NIWPR2,CBK,NaN,CG94KY,NaN,VISY
75,2021-04-12,DAY RUNS,swjusjoh,NaN,JOHN JUSTICE,NaN,NIWPR2,NaN,NaN,BY46TO,NaN,VISY
77,2021-04-09,DAY RUNS,swjusjoh,NaN,JOHN JUSTICE,NaN,NIWPR2,CBK,NaN,BY46TO,NaN,VISY
78,2021-04-08,DAY RUNS,swjusjoh,NaN,JOHN JUSTICE,NaN,NIWPR2,CBK,NaN,BY46TO,NaN,VISY
79,2021-04-07,DAY RUNS,swjusjoh,NaN,JOHN JUSTICE,NaN,NIWPR2,CBK,NaN,BY46TO,NaN,VISY
87,2021-04-13,DAY RUNS,swliqi,NaN,RICKY LI,NaN,NIWPR1,NaN,NaN,XPL658,NaN,VISY
88,2021-04-12,DAY RUNS,swliqi,NaN,RICKY LI,NaN,NIWPR1,NaN,NaN,XPL658,NaN,VISY
89,2021-04-09,DAY RUNS,swliqi,NaN,RICKY LI,NaN,NIWPR1,NaN,NaN,XPL658,NaN,VISY
90,2021-04-08,DAY RUNS,swliqi,NaN,RICKY LI,NaN,NIWPR1,NaN,NaN,XPL658,NaN,VISY
91,2021-04-07,DAY RUNS,swliqi,NaN,RICKY LI,NaN,NIWPR1,NaN,NaN,XPL658,NaN,VISY

In [4]:
df_ros_niwpr.Primary_truck.unique()

array(['CG94KY', 'BY46TO', 'XPL658'], dtype=object)

In [5]:
df_ros_niwpr

,Date,Run_type,Primary_employeeID,Secondary_employeeID,Primary_driver_Name,Secondary_Driver_Name,Primary_route,Satellite_Route_1,Satellite_Route_2,Primary_truck,Alternative_Truck,Subcontracted_From/Special_Client
74,2021-04-13,DAY RUNS,swjusjoh,NaN,JOHN JUSTICE,NaN,NIWPR2,CBK,NaN,CG94KY,NaN,VISY
75,2021-04-12,DAY RUNS,swjusjoh,NaN,JOHN JUSTICE,NaN,NIWPR2,NaN,NaN,BY46TO,NaN,VISY
77,2021-04-09,DAY RUNS,swjusjoh,NaN,JOHN JUSTICE,NaN,NIWPR2,CBK,NaN,BY46TO,NaN,VISY
78,2021-04-08,DAY RUNS,swjusjoh,NaN,JOHN JUSTICE,NaN,NIWPR2,CBK,NaN,BY46TO,NaN,VISY
79,2021-04-07,DAY RUNS,swjusjoh,NaN,JOHN JUSTICE,NaN,NIWPR2,CBK,NaN,BY46TO,NaN,VISY
87,2021-04-13,DAY RUNS,swliqi,NaN,RICKY LI,NaN,NIWPR1,NaN,NaN,XPL658,NaN,VISY
88,2021-04-12,DAY RUNS,swliqi,NaN,RICKY LI,NaN,NIWPR1,NaN,NaN,XPL658,NaN,VISY
89,2021-04-09,DAY RUNS,swliqi,NaN,RICKY LI,NaN,NIWPR1,NaN,NaN,XPL658,NaN,VISY
90,2021-04-08,DAY RUNS,swliqi,NaN,RICKY LI,NaN,NIWPR1,NaN,NaN,XPL658,NaN,VISY
91,2021-04-07,DAY RUNS,swliqi,NaN,RICKY LI,NaN,NIWPR1,NaN,NaN,XPL658,NaN,VISY

In [63]:
fuelID = 'D:\\Run Analysis\\BLOB_STORAGE\\EmpID_FuelID.csv'
df_fuelID = pd.read_csv(fuelID, dtype={'card_ID': np.int64})
df_fuelID
# df_fuelID[df_fuelID.lastname.str.contains('justice')]
# df_fuelID[df_fuelID.lastname.str.contains('li')]

# Li => 7071 3400 7963 0116

# justice => 70713400 9337 1952 .00

,Account,card_ID,EmployeeID,Name,lastname,firstname
0,600851334.0,7071340092560449,swaklado,"Akl, Adonis",akl,adonis
1,600851334.0,7071340085452331,subcon1,"Alan, Walden",alan,walden
2,600851334.0,7071340092810703,swedwben,"Edwards, Benjamin John",edwards,benjamin
3,200600325.0,7071340079629886,ir12,"Boland, Luke",boland,luke
4,200600325.0,7071340080640088,swbranat,"Bracey, Nathan John",bracey,nathan
...,...,...,...,...,...,...
58,200600325.0,7071340079115399,NaN,NaN,spare,nofirstname
59,200600325.0,7071340083419027,swwarrob,"Ward, Robert James",ward,robert
60,200600325.0,7071340079630074,swwhinei,"White, Neil John",white,neil
61,200600325.0,7071340079629944,iryouc,"Young, Craig",young,craig
62,200600325.0,7071340084770286,NaN,NaN,zizer,elon

In [59]:
PATH_FUEL_TRANS  = 'D:\\Run Analysis\\BLOB_STORAGE\\expenses_truck\\fuel\\Caltex_fuel_transactions\\18th_2021.html'
df_fuel = pd.read_html(PATH_FUEL_TRANS, converters={'Card Number' : np.int64 })
df_fuel[0].loc[df_fuel[0]['Card Number'].eq(7071340093371952)]

7071340079630110
# df_fuel['Card Number'].dtype

,Account,Card Number,Registration,Driver Name,Trans. Type,Location,Trans. Ref,Trans. Date,Post Date,Amount,Amount Ex GST,Location Name
3,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,22774,7695.0,01/03/2021,02/03/2021,$50.67,$46.06,AMPOL MENAI STAR MART
8,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,29315,308.0,02/03/2021,02/03/2021,$54.58,$49.62,EG FUELCO 91815 FAIRFIELD HGT
21,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,22302,7108.0,03/03/2021,04/03/2021,$44.07,$40.06,REVESBY AMPOL WOOLWORTHS
26,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,29253,26713.0,04/03/2021,04/03/2021,$73.20,$66.55,EG FUELCO 91594 PRESTONS
34,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,29315,18800.0,05/03/2021,05/03/2021,$56.99,$51.81,EG FUELCO 91815 FAIRFIELD HGT
48,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,29315,19251.0,08/03/2021,08/03/2021,$92.69,$84.26,EG FUELCO 91815 FAIRFIELD HGT
55,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,22458,196.0,09/03/2021,10/03/2021,$51.56,$46.87,CALTEX CANLEY HEIGHTS
60,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,29315,19548.0,10/03/2021,10/03/2021,$57.60,$52.36,EG FUELCO 91815 FAIRFIELD HGT
68,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,29239,47016.0,11/03/2021,11/03/2021,$59.26,$53.87,EG FUELCO 91591 NTH LIVERPOOL
77,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,29315,19931.0,12/03/2021,12/03/2021,$80.87,$73.52,EG FUELCO 91815 FAIRFIELD HGT
84,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,22239,13519.0,14/03/2021,14/03/2021,$72.99,$66.35,CROWS NEST AMPOL WOOLWORTHS
91,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,29315,20692.0,15/03/2021,15/03/2021,$61.13,$55.57,EG FUELCO 91815 FAIRFIELD HGT
102,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,29315,20883.0,16/03/2021,16/03/2021,$53.35,$48.50,EG FUELCO 91815 FAIRFIELD HGT
108,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,29315,21135.0,17/03/2021,17/03/2021,$56.57,$51.43,EG FUELCO 91815 FAIRFIELD HGT
115,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,29315,21398.0,18/03/2021,18/03/2021,$69.32,$63.02,EG FUELCO 91815 FAIRFIELD HGT
123,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,22136,23137.0,19/03/2021,19/03/2021,$46.53,$42.30,AMPOL SEVEN HILLS STATION ST
140,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,22887,13122.0,22/03/2021,23/03/2021,$82.28,$74.80,AMPOL PADSTOW
147,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,29239,51315.0,23/03/2021,23/03/2021,$72.18,$65.62,EG FUELCO 91591 NTH LIVERPOOL
153,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,29315,22357.0,24/03/2021,24/03/2021,$56.69,$51.54,EG FUELCO 91815 FAIRFIELD HGT
164,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,29239,74802.0,25/03/2021,25/03/2021,$53.97,$49.06,EG FUELCO 91591 NTH LIVERPOOL
172,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,22707,23034.0,26/03/2021,26/03/2021,$75.20,$68.36,AMPOL PENDLE HILL
183,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,22239,14002.0,28/03/2021,28/03/2021,$81.66,$74.24,CROWS NEST AMPOL WOOLWORTHS
190,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,22887,28962.0,29/03/2021,29/03/2021,$60.40,$54.91,AMPOL PADSTOW
197,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,22458,838.0,30/03/2021,31/03/2021,$81.24,$73.85,CALTEX CANLEY HEIGHTS
203,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,29315,24034.0,31/03/2021,31/03/2021,$71.12,$64.65,EG FUELCO 91815 FAIRFIELD HGT
215,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,22800,4128.0,01/04/2021,01/04/2021,$48.39,$43.99,CALTEX SMEATON GRANGE
239,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,29239,81656.0,06/04/2021,06/04/2021,$58.72,$53.38,EG FUELCO 91591 NTH LIVERPOOL
247,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,29321,32793.0,07/04/2021,07/04/2021,$49.00,$44.55,EG FUELCO 91996 GREENACRE

In [58]:
df_fuel[0].loc[df_fuel[0]['Card Number'].eq(7071340079630116)]

Empty DataFrame
Columns: [Account, Card Number, Registration, Driver Name, Trans. Type, Location, Trans. Ref, Trans. Date, Post Date, Amount, Amount Ex GST, Location Name]
Index: []

In [ ]:
df[df['Route No'].eq('RLC')]
df[df['Route No'].eq('BR1') & df['Gross Weight'].gt(0)].Weight.sum()